<div>
<label>Title:</Title></label>
<input type="text" name="title" value="<%= book.title%>"></div>
</div>
<div> <br>
<label>Author:</Title></label>
<select name="author">

    <% authors.forEach(author=> { %>
        <% if(author.id===book.author){ %>
            <option selected label="<%= author.name%>" value="<%= author.id %>">
                <% } else { %>
            <option label="<%= author.name %>" value="<%= author.id %>">
                <% } %>
                    <% }) %>
</select>
</div> <br>
<label>Date:</label>
<input type="date" name="read_date"
 value="<%= book.read_date == null ? '' : 
      book.read_date.toISOString().split('T')[0] %>">
       
<div><br>
    <label>Page Count:</Title></label>
    <input type="number" min="1" name="pageCount" value="<%= book.pageCount%>"></div>
      
<br>
<div>
    <label>Cover:</Title></label>
    <input type="file" name="cover" class="filepond"></div>
</div>
      
<br>
<div>
    <label>My notes from the book:</Title></label>
    <textarea name="mybooknotes"><%= book.mybooknotes %> </textarea></div>
</div>

<!-- Here we are accessing the name field from the author schema model -->