<section class="form-fields">
    <label>Title</Title></label>
<input type="text" name="title" value="<%= book.title%>">


<label>Author</Title></label>
<select class="author-list" name="author">

    <% authors.forEach(author=> { %>
        <% if(author.id===book.author){ %>
            <option selected label="<%= author.name%>" value="<%= author.id %>">
                <% } else { %>
            <option label="<%= author.name %>" value="<%= author.id %>">
                <% } %>
                    <% }) %>
</select>

<label>Date</label>
<input type="date" name="read_date"
 value="<%= book.read_date == null ? '' : 
      book.read_date.toISOString().split('T')[0] %>">
       

    <label>Page Count</Title></label>
    <input type="number" min="1" name="pageCount" value="<%= book.pageCount%>">

    <label>My notes from the book</Title></label>
    <textarea class="textarea" name="mybooknotes"><%= book.mybooknotes %> </textarea></div>
</section>



<!-- Here we are accessing the name field from the author schema model -->